@import "../common/variables";
@import "../common/mixins/mixins-config";

.app-card {
  border-radius: @border-radius-base;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__content {
    padding: @spacing-base;
  }

  &__detail {
    font-family: 'Roboto-Regular', sans-serif;
    color: @color-gray;
    margin-bottom: @spacing-base;
  }
}
