<div class="app-card">
  <a href="#" class="app-card__img">
    <img src="../../assets/img/portfolio/item1min.jpg">
    <span class="app-card-title">Большой <br> Коттедж в Простоквашино</span>
  </a>
  <div class="app-card__content">
    <ul class="app-card__detail list-inline">
      <li>
        <i class="fa fa-arrows-v"></i><span>200 м²</span>
      </li>
      <li>
        <i class="fa fa-clock-o"></i><span>2 дня</span>
      </li>
    </ul>
    <p><strong>Работы</strong>&nbsp;100 000&nbsp;&#8381;</p>
    <p><strong>Материалы</strong>&nbsp;40 000&nbsp;&#8381;</p>
  </div>
</div>
