@import "../common/variables";
@import "../common/mixins/mixins.config";

::selection {
  background-color: $color-gray-lighter;
  color: $color-white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $color-gray-dark;
}

::-webkit-scrollbar-track {
  background: $color-gray-lighter;
}

body {
  @include body-font;
  height: 100vh;
  overflow: hidden;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}

a {
  color: $theme-primary;
}

a:hover,
a:focus,
a:active,
a.active {
  color: darken($theme-primary, 10%);
}

h1, h2, h3, h4, h5, h6 {
  @include heading-font;
  font-weight: 700;
}

.img-centered {
  margin: 0 auto;
}

.app-main {
  display: block;
  height: 100%;
  overflow-x: auto;
}
