@import "../common/variables";
@import "../common/mixins/mixins-config";

.u-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Colors
.u-bg-blue {
  background-color: @color-theme-blue;
  color: @color-white;

  a {
    color: @color-white;
    text-decoration: underline;

    &:focus,
    &:hover {
      color: @color-white;
      text-decoration: none;
    }
  }
}

// Btn
.u-btn-block {
  @media (max-width: 992px) {
    &-md {
      display: block;
      width: 100%;

      &:not(:first-child) {
        margin-top: @spacing-base-half;
      }
    }
  }
}

// Link
.u-link-dotted-white {
  border-bottom: 1px dashed rgba(255, 255, 255, .9);
  line-height: 1;
  display: inline-block !important;

  &:hover {
    border-color: transparent;
  }
}

// Spacing
.u-margin-bottom {
  &-double {
    margin-bottom: @spacing-double;
  }
}

.u-padding-bottom {
  &-0 {
    padding-bottom: 0;
  }
}

// List
.u-list-ndash {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    .mixin-flex-row;

    &:not(:first-child) {
      margin-top: @spacing-base-half;
    }

    span {
      margin-right: 5px;
    }
  }
}
