@import "variables-theme";

@navbar-height: 50px;

// Font Size
@font-size-base:    16px;
@font-size-x:       18px;
@font-size-xx:      24px;
@font-size-xxx:     46px;

// Spacing
@spacing-base:      15px;
@spacing-base-half: @spacing-base/2;

// Border Radius
@border-radius-base: 2px;

// Controls
@height-control: 40px;
