<!-- Navigation -->
<nav class="app-nav">
  <div class="container">
    <div class="app-nav__logo"><a href="">logo</a></div>
    <div class="app-nav__info">
      <a class="app-tel" href="tel:+78126423868">+7 (812) 642-38-68</a>
      <i class="fa fa-phone"></i><a class="app-link-dotted-white" href="#">Заказать обратный звонок</a>
    </div>
  </div>
</nav>

<main class="app-main">
  <!-- Header -->
  <header class="app-head">
    <div class="container">
      <div class="app-head__info">
        <h1>Нужна машинная штукатурка?</h1>
        <h2>Штукатурим от 230&#8381; за квадратный метр</h2>
        <ul class="u-list">
          <li>&mdash;&nbsp;Индивидуальный подход к пробам</li>
          <li>&mdash;&nbsp;Только русские специалисты</li>
          <li>&mdash;&nbsp;Заезд в течении трех дней</li>
          <li>&mdash;&nbsp;10 станций на 220 вольт</li>
        </ul>
        <a href="#services" class="page-scroll btn btn-primary">Заказать расчет</a>
      </div>
    </div>
  </header>

  <!-- Services Section -->
  <section class="app-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="app-section__title">Title</h2>
          <h3 class="app-section__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid deserunt dolorum ipsa nesciunt. Aspernatur
            consequatur distinctio eos exercitationem id natus nihil odit officia quae, quia quod repudiandae, sunt
            veritatis voluptatem?
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
          <h4>Title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
            architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
          <h4>Title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
            architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
          <h4>Title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
            architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Process -->
  <section class="app-section" id="process" style="background: gainsboro">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>Порядок работ</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="../assets/img/portfolio/dreams.png" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Title</h4>
            <p>.....</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="../assets/img/portfolio/dreams.png" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Title</h4>
            <p>.....</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="../assets/img/portfolio/dreams.png" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Title</h4>
            <p>.....</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="../assets/img/portfolio/dreams.png" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Title</h4>
            <p>.....</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="../assets/img/portfolio/dreams.png" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Title</h4>
            <p>.....</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="../assets/img/portfolio/dreams.png" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Title</h4>
            <p>.....</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Calculation Section -->
  <section class="app-section u-bg-blue" id="calculation">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>Вызов замерщика</h3>
          <p>Замерщик выезжает на объект для оценки бесплатно</p>
        </div>
      </div>
      <div class="row">
        <form id="contactForm" class="col-lg-12">
          <div class="row">
            <div class="col-xs-12 col-md-4 form-group">
              <label for="name">Контактное лицо</label>
              <input type="text"
                     class="form-control"
                     id="name"
                     required
                     data-validation-required-message="Поле не должно быть пустым"/>
              <p class="help-block text-danger"></p>
            </div>
            <div class="col-xs-12 col-md-4 form-group">
              <label for="phone">Номер телефона</label>
              <input type="tel"
                     class="form-control"
                     id="phone"
                     required
                     data-validation-required-message="Поле не должно быть пустым"/>
              <p class="help-block text-danger"></p>
            </div>
            <div class="col-xs-12 col-md-4 form-group">
              <label for="address">Адрес объекта (не обязательно)</label>
              <input type="text"
                     class="form-control"
                     id="address"
                     required
                     data-validation-required-message="Поле не должно быть пустым"/>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <button type="submit" class="btn btn-outline u-btn-block-md">Отправить</button>
              <a href="#" class="btn btn-link u-btn-block-md">Я знаю все размеры. Отправить заявку на расчет</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <footer class="app-footer">
    <div class="container">
      <div class="app-footer__row">
        <div class="app-footer__col">
          <span>Copyright &copy; Your Website 2016</span>
        </div>
        <div class="app-footer__col">
          <ul class="u-list">
            <li>198035, г.Санкт-Петербург</li>
            <li>ул.Двинская, д.3, лит.А БЦ "Бригантина"</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</main>

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <app-modal></app-modal>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <app-modal></app-modal>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <app-modal></app-modal>
</div>

<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <app-modal></app-modal>
</div>

<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <app-modal></app-modal>
</div>

<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <app-modal></app-modal>
</div>
