<div class="modal-dialog">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Title</h2>
            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="../assets/img/portfolio/item1min.jpg" alt="">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dignissimos eaque exercitationem optio qui? Aperiam asperiores, consequatur dolorum earum magnam nisi nostrum recusandae temporibus. Dolorem et impedit iusto numquam pariatur.
            </p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
              class="fa fa-times"></i> Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
